<div id="<%= dom_id tutorial %>" class="container w-75 mt-5">
  <%= link_to "\##{tutorial.category}", category_path(tutorial.category), class: "link-badge badge bg-secondary mb-1"%>
  <%= link_to tutorial.author, author_path(tutorial.author.downcase.to_sym), class: "link-badge text-capitalize badge text-bg-dark mb-1"%>
  <h3 class="text-uppercase text-primary"><%= tutorial.title %></h3>

  <p class="lead text-justify"><%= tutorial.description %></p>
  <p class="text-justify"><%= tutorial.body %></p>

  <div class="d-flex justify-content-between">
    <div>
      <span class="not-selectable fst-italic">Is this post informative?&ensp;</span>
      <%= link_to render("upvotes", upvotes: tutorial.upvotes), tutorial_upvote_path(tutorial), data: {"turbo-method": :put, "turbo_frame": "upvotes_frame"}, class: 'not-selectable bi bi-hand-thumbs-up' %>
      <span class="not-selectable">&ensp;</span>
      <%= link_to render("downvotes", downvotes: tutorial.downvotes), tutorial_downvote_path(tutorial), data: {"turbo-method": :put, "turbo_frame": "downvotes_frame"}, class: 'not-selectable bi bi-hand-thumbs-down' %>
    </div>
    
    <div class="fst-italic">
      <span>Last update </span>
      <span><%= tutorial.updated_at.strftime('%b %d, %Y') %></span>
    </div>
  </div>
</div>
