<div id="<%= dom_id tutorial %>">
  <p>
    <strong>Category:</strong>
    <%= tutorial.category %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= tutorial.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= tutorial.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tutorial.description %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= tutorial.body %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= tutorial.upvotes %>
  </p>

  <p>
    <strong>Downvotes:</strong>
    <%= tutorial.downvotes %>
  </p>

</div>
