<p style="color: green"><%= notice %></p>

<%= render "full_tutorial", tutorial: @tutorial %>

<div class="container mt-3 show-page-buttons">
  <%= link_to "Back", tutorials_path, class: "btn btn-outline-success"%>
  <%= link_to "Edit", edit_tutorial_path(@tutorial), class: "btn btn-outline-primary" %>
  <%= button_to "Delete", @tutorial, method: :delete, class: "btn btn-outline-danger" %>
</div>
